body {
    font-family: Rubik, sans-serif;
}

body {
    background-image:url("kuvia/tausta2.jpg");
    background-color: #333;
    background-size:cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    transition: background 0.8s ease;

    
    /*
    overflow: hidden;
    display: grid;
    place-items: center;*/

    img {
        max-width: 100%;
      }
}

.keskitetty{
    display: flex;
    text-align: center;
    justify-content: center;
}
.keskitetty_nappi{
    display: flex;
    text-align: center;
    justify-content: center;

}

.keskitetty_paallekkain{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.navigointivalikko {
    background-color: #333;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    
}

.navigointivalikko ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}

.navigointivalikko li {
    display: inline-block;
    margin-right: 15px;
}


.navigointivalikko a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.2s;
}

.navigointivalikko a:hover{
    color: rgb(109, 159, 220);
}

.linkki {
    display: block;
    margin-bottom: 30px;
  }

  .marginaali {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .tyhja_tila {
    height: 50px;

  }
.taulukko{
    width: 30%;
    max-width: 100%;
    border-collapse: collapse;
    margin: 20px;
}
.taulukko td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: white;
}
.taulukko th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #787676;;
}

.elementti {
    
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.keskitetty_teksti{
    text-align: center;
}
.nappi{

cursor: pointer;
}

.galleria {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    white-space: nowrap; 


}
.galleria img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-right: 10px;
}
.galleria img:last-child {
    margin-right: 0;
}

.galleria img:hover {
    transform: scale(1.1);
}

.suurenna {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.suurenna img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
    cursor: pointer;
}

.suurenna.active {
    visibility: visible;
    opacity: 1;
}
.suurenna-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.suurenna-nav img {
    width: 50px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.suurenna-nav img:hover {
    opacity: 1;
}

